// app global css in SCSS form
@import "quasar.variables";

.bg-gradient {
  width: 100vw;
  background: linear-gradient(180deg, $primary, #2A4D77);
}

.page-content {
  width: 750px;
  max-width: 100vw;
}

.item-border {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 5px;
}

a {
  cursor: pointer !important;
  text-decoration: underline;
}
