// app global css in SCSS form
@import "quasar.variables";

$primary-gradient: linear-gradient(180deg, $primary, #2A4D77);

.bg-gradient {
  width: 100vw;
  background: $primary-gradient;
}

.flex {
  min-width: 750px;
}